html {
    box-sizing: border-box;
    font-family: $font-family-base;
}
  
*, *::before, *::after {
box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    outline: none;

    &:hover {
        text-decoration: none;	
    }
}

strong, b {
    font-weight: bold;
}

p {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

.test {
    color: navy;
}
//developers responsive markers
.dev {
    position: relative;

    &::before {
        content: "<	460px";
        color: white;
        text-shadow: 0 0 5px black;
        position: fixed;
        top: 2%;
        right: 5%;
        font-size: 30px;
        font-weight: 700;
        z-index: 1000;
    }
    @include susy-breakpoints($xs) {
        background: svg-grid() no-repeat scroll;
        height: 100%;
    }
    @include susy-breakpoints($sm) {
        &:before {
            content: "sm	576px";
        }
    }
    @include susy-breakpoints($md) {
        &:before {
            content: "md	768px";
        }
    }
    @include susy-breakpoints($lg) {
        &:before {
            content: "lg	960px";
        }
    }
    @include susy-breakpoints($xl) {
        &:before {
            content: "xl	1200px";
        }
    }
}