.dark-section{
  &:before{
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .pagination {
    .page-item:not(.active) .page-link {
      background-color: rgba(255, 255, 255, 0.65);
    }
    .page-item .page-link:hover {
      background-color: #eee;
    }
  }
}
.light-section{
  &:before{
    content: '';
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.page-block {
  min-height: 100%;
}
.pagination .page-item .page-link{
  margin-left: 1px;
}
.rgba-white-stronger{
  background-color: rgba(255, 255, 255, 0.9);
}
small{
  font-size: 0.8rem!important;
}
small.badge-pill{
  position: relative;
  top: -2px;
}
