- var carouselList = [{id: 0, title: 'Тверь сити', desc: 'Наш городок', img: 'img/tver.jpg', class: 'carousel-item active'}, {id: 1, title: 'Вор 2014', desc: 'Офигенская игруха', img: 'img/thief2.jpg', class: 'carousel-item'}, {id: 2, title: 'Тверь сити', desc: 'Описание 3', img: 'img/tver1.jpg', class: 'carousel-item'}, {id: 3, title: 'Тверь сити', desc: 'Описание 4', img: 'img/tver2.jpg', class: 'carousel-item'}];

#carousel-example-home.carousel.slide.carousel-fade.w-100.h-50(data-ride="carousel")
  //- Indicators
  ol.carousel-indicators
    each item in carouselList
      li(data-target="#carousel-example-home" data-slide-to=item.id class={active: item.id === 0})
  //- /.Indicators
  //- Slides
  .carousel-inner(role="listbox")
    each item in carouselList
      div(class=`${item.class}`)
        .view
          img.carousel__image.d-block.w-100(src=item.img alt=item.desc)
          .mask.rgba-black-light
        .carousel-caption
          h3.h3-responsive= item.title
          p= item.desc
  //- /.Slides
  //- Controls
  a.carousel-control-prev(href="#carousel-example-home" role="button" data-slide="prev")
    i.fal.fa-chevron-left.custom-size
  a.carousel-control-next(href="#carousel-example-home" role="button" data-slide="next")
    i.fal.fa-chevron-right.custom-size
  //- /.Controls
