form.text-center.p-5.text-white.rgba-black-strong
  p.h4.mb-4 Напишите нам
  input.form-control.mb-4#defaultContactFormName(type="text" placeholder="Name")
  input.form-control.mb-4#defaultContactFormEmail(type="email" placeholder="E-mail")
  label(for="select") Тема письма
  select#select.browser-default.custom-select.mb-4
    each val in ["Ругаться", "Похвалить нас", "Заказать нас"]
      option(value="" disabled)= val
  .form-group
    textarea.form-control.rounded-0#exampleFormControlTextarea2(rows="3" placeholder="Message")
  .custom-control.custom-checkbox.mb-4
    input.custom-control-input#defaultContactFormCopy(type="checkbox")
    label.custom-control-label(for="defaultContactFormCopy") Согласен с условиями конфедециальности
  button.btn.btn-info(type="submit") Отправить
