// steper
.card
  .card-body
    .row
      .col-md-12
        ul.stepper.stepper-vertical
          li.completed
            a(href="")
              span.circle 1
              span.label 1 шаг типа завершенный
          li.active
            a(href="")
              span.circle 2
              span.label 2 шаг какбэ открытый
            .step-content.grey.lighten-3
              each item in [2,3,4]
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta sit impedit, perspiciatis placeat dolore esse accusantium inventore incidunt quas laudantium magnam fugiat corporis illum voluptate asperiores assumenda. Nemo animi, sint eos eius ipsam suscipit assumenda eaque error expedita dicta obcaecati sequi in vel delectus dolore tempora neque quia accusantium minima.
          li.warning
            a(href="")
              span.circle 3
              span.label 3 шаг типа предупреждение
          li
            a(href="")
              span.circle 4
              span.label 4 шаг типа не активный
              
// /steper