html.h-100(lang='ru')
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    //- link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css")
    title Template.v.1.0
  body.h-100
    #site.site.d-flex.flex-column.h-100
      header.header
        include ./sections/header.pug
      main.main.flex-grow-1
        include ./sections/carousel.pug
        include ./sections/flip-cards.pug
        include ./sections/news-cards.pug
        include ./sections/about.pug
        include ./sections/services.pug
        include ./sections/products-carousel.pug
        include ./sections/blog.pug
        include ./sections/content-stepper.pug
        include ./sections/content-tabs.pug
        include ./sections/gallery.pug
        include ./sections/contacts.pug
      footer.footer
        include ./sections/footer.pug
      include ./components/modal.pug
