.carousel {
  &__image {
    height: 75vh;
    object-fit: cover;
  }

  .custom-size {
    font-size: 40px;
  }

  .carousel-indicators li {
    width: 2rem;
    border-radius: 1rem;
    height: 0.3rem;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;

    &:hover {
      width: 10%;
    }
  }

  &__link {
    display: block;
  }
}

.crusel-cards {
  .view.overlay {
    height: 175px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}