.video-section {
  height: 100vh;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  display: none;
  flex-direction: row;
  align-items: center;

  @include susy-breakpoints($md) {
    display: flex;
}

  &__logo {
    width: 300px;
    height: 100px;
    margin-left: -150px;
    margin-top: -50px;
    z-index: 10;
    top: 50%;
    left: 50%;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;

    @include susy-breakpoints($lg) {
      width: 600px;
      height: 200px;
      margin-left: -300px;
      margin-top: -100px;
    }
  }
}

.video-player {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
