// about
section.about.grey.lighten-3.pt-5.pb-5
  .container
    .row
      .col-sm-12.text-center
        h2.text-black-50.text-uppercase О компании
        h4.pb-2 Lorem ipsum dolor sit, amet consectetur adipisicing elit
        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis nisi nam, magnam obcaecati, earum ad est ea adipisci consectetur a eos iure aliquid facere distinctio, in labore eius rem quis! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis nisi nam, magnam obcaecati, earum ad est ea adipisci consectetur a eos iure aliquid facere distinctio, in labore eius rem quis! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis nisi nam, magnam obcaecati, earum ad est ea adipisci consectetur a eos iure aliquid facere distinctio, in labore eius rem quis!
        a.fa-lg.p-2.m-2.li-ic
          i.fab.fa-linkedin.grey-text
        a.fa-lg.p-2.m-2.li-ic
          i.fab.fa-twitter.grey-text
        a.fa-lg.p-2.m-2.li-ic
          i.fab.fa-facebook.grey-text
// /about