// blog
section.jarallax.view.light-section
  img.jarallax-img(src="img/news.jpg" alt="")
  .container.blog.pt-5
    .row
      .col-sm-12
        h2.text-black-50.text-center.pb-3.text-uppercase Последние новости
      each item in [1,2,3]
        div.mx-3.px-3
          .row.rgba-white-stronger.pt-3.mb-5.rounded.z-depth-2
            .col-lg-5.col-xl-4.mb-3
              .view.overlay.rounded.z-depth-1-half.mb-lg-0.mb-4
                img.img-fluid(src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" alt="Sample image")
                a
                  .mask.rgba-white-slight
            .col-lg-7.col-xl-8
              h4.font-weight-bold.mb-3
                strong=  `Новость №${item}`
              p Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis cum soluta nobis est eligendi placeat facere aut rerum.
              p by
                a.font-weight-bold Jessica Clark
                |,
                span.badge.badge-light 19/04/2018
              button.btn.btn-primary.btn-md.waves-light( type="button" class="btn btn-primary" data-toggle="tooltip" data-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>") Подробнее
                span.badge.badge-danger.ml-2 4
      .col-sm-12.text-center.mb-5
        button.btn.btn-primary(type="button" data-toggle="modal" data-target="#basicExampleModal") Все новости
// /blog