section.grey.lighten-3.pt-5.pb-5
  .container.content-tabs
    .row
      .col-sm-12.text-center
          h2.text-black-50.text-uppercase Табы с контентом
          include ../components/tabs.pug