section.grey.lighten-1.pt-5.pb-5
  .container.content-stepper
    .row
      .col-sm-12.text-center
          h2.text-uppercase Некий пошаговый степпер который не работает никуя
          include ../components/stepper.pug