// contacts
section.jarallax.view.dark-section
  img.jarallax-img(src="img/planet.jpg" alt="parallax")
  .container.blog.pb-5.pt-5
    .row
      .col-sm-12
        h2.text-white.text-center.pb-3.text-uppercase Контакты
        include ../components/form.pug
// /contacts
