// main
.container
  .row
    .col-xs-12
      h1.test Проверка
      p {{message}}
      p {{desc}}

      .row
        .col.btn-group.btn-group-lg.mb-3(role="group" aria-label="Basic example")
          .btn.btn-lg.btn-primary(type="button") Left
          .btn.btn-lg.btn-default(type="button") Middle
          .btn.btn-lg.btn-unique(type="button") Right
          .btn.btn-lg.btn-info(type="button") Right 2

        .col.btn-group.btn-group-lg.mb-3.pl-3.justify-content-end(role="group" aria-label="Basic example")
          .btn.btn-lg.btn-primary(type="button") Left
          .btn.btn-lg.btn-default(type="button") Middle
          .btn.btn-lg.btn-unique(type="button") Right
          .btn.btn-lg.btn-info(type="button") Right 2

      .card.mb-5
        img.card-img-top(src="img/tver.jpg" alt="Card image cap")
        .card-body
          h4.card-title
            a Card title
          p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
          a.btn.btn-primary(href="#") Button
// /main