// services
section.news-cards.grey.lighten-1
  .container.pt-5.pb-5
    .row
      .col-sm-12.pb-3.text-center
        h2.text-uppercase Услуги
      .col-sm-12.clearfix
        .row.justify-content-center
          each item in [1,2,3]
            .col-sm-6.col-lg-4.mb-4
              .card.card-image(style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);")
                .text-white.text-center.d-flex.align-items-center.rgba-black-strong.py-5.px-4.rounded
                  div
                    h5.pink-text
                      i.far.fa-book-open  Marketing
                    h3.card-title.pt-2
                      strong This is card title
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui, dolorum!.
                    a.btn.btn-elegant
                      i.fal.fa-clone.left  View project
// /services